.green-background {
    background-color: #116533;
    color: white; 
  }

.custom-green-background {
    background-color: #399444 !important; /* Uso de !important para garantir a aplicação em componentes com estilos predefinidos */
  }

  .custom-white-font {
    color: white; 
  }